{% extends "index.html" %}
{% import "macros/seo.html" as seo %}
{% import "macros/product-card.html" as card %}
{% import "macros/global-widget-selector.html" as global_widget_selector %}

{% block styles %}
	<link href="/css/dist/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block seo %}
	{% 
		set seo_input = {
			'description': data.seo.description,
			'title': data.seo.title,
			'image': '',
			'url': url
		}
	%}

    {{ seo.create_seo_tags(seo_input) }}
{% endblock %}

{% block body %}
    <div class="container">
        <section id="carousel">
            <div class="row">
                <div class="col-lg-12">
                    {{ global_widget_selector.select(data.carousel, 'carousel') }}
                </div>
            </div>
        </section>

        <section id="modular-blocks">
            {% for block in data.modular_blocks %}
                {{ global_widget_selector.select(block) }}
            {% endfor %}
        </section>

        <section id="arrivals">
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                </div>
            </div>
            
            {% for arrival in data.new_arrivals %}
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="theme--heading-font fancy text-center">{{ arrival.title }}</h2>
                    </div>
                </div>
                <div class="row">
                    {% for product in arrival.products %}
                        {% 
                            set card_input = {
                                'url':  product.url,
                                'image': product.featured_image[0].url,
                                'price': product.product_link.masterData.current.masterVariant.prices[0].value.centAmount / 100,
                                'title': product.title
                            }
                        %}

                        {{ card.create_product_card(card_input) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}