{% macro create_seo_tags(input) %}
    <meta name="description" content="{{ input.description }}">
	<meta name="keywords" content="{{ input.keywords }}">
	
	<meta property="og:title" content="{{ input.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{{ input.image }} " />
	<meta property="og:description" content="{{ input.description }}" />
	<meta property="og:url" content="{{ input.url }}" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ input.title }}" />
	<meta name="twitter:description" content="{{ input.description }}" />
	<meta name="twitter:image" content="{{ input.image }}" />

	{% if input.enable_for_robots == false %}
	    <meta name="robots" content="noindex">
	{% endif %}
{% endmacro %}